NODE_ENV=development
PORT=5001
SYNC_DB=false

DB_HOST=127.0.0.1
DB_PORT=3001
DB_NAME=zucarlink
DB_USER=admin
DB_PASSWORD=change_me

JWT_SECRET=change_me
FRONTEND_URL=http://localhost:5173

EMAIL_USER=change_me
EMAIL_PASS=change_me
EMAIL_RECEIVER=change_me

AWS_ACCESS_KEY_ID=change_me
AWS_SECRET_ACCESS_KEY=change_me
AWS_REGION=us-east-2
AWS_BUCKET_NAME=change_me

STRIPE_SECRET_KEY=change_me
STRIPE_WEBHOOK_SECRET=change_me
STRIPE_MONTHLY_PRICE_ID=change_me
STRIPE_YEARLY_PRICE_ID=change_me
